[submodule "core"]
	path = core
	url = https://github.com:Famous/core
[submodule "widgets"]
	path = widgets
	url = https://github.com:Famous/widgets
[submodule "events"]
	path = events
	url = https://github.com:Famous/events
[submodule "inputs"]
	path = inputs
	url = https://github.com:Famous/inputs
[submodule "math"]
	path = math
	url = https://github.com:Famous/math
[submodule "modifiers"]
	path = modifiers
	url = https://github.com:Famous/modifiers
[submodule "physics"]
	path = physics
	url = https://github.com:Famous/physics
[submodule "surfaces"]
	path = surfaces
	url = https://github.com:Famous/surfaces
[submodule "transitions"]
	path = transitions
	url = https://github.com:Famous/transitions
[submodule "utilities"]
	path = utilities
	url = https://github.com:Famous/utilities
[submodule "views"]
	path = views
	url = https://github.com:Famous/views
